In [198]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from itertools import combinations

In [199]:
data = pd.read_csv('movie_bd_v5.csv')
data.head(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015

In [200]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [201]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...
data['profit'] = data.revenue - data.budget # ввод нового столбца profit

def count_val(data):
    """Функция подсчета строковых значение разделенных знаком '|',
    подсчитывает и возвращает в виде экземпляра Counter()"""
    counter = Counter()
    for data_str in data:
        for item in data_str.split('|'):
            counter[item] += 1        
    return counter

actors = set(data.cast.str.cat(sep='|').split('|')) # множество актеров в таблице data
directors = set(data.director.str.cat(sep='|').split('|')) # множество режисеров в таблице data
data.release_date = pd.to_datetime(data.release_date) # преобразуем значения в столбце release_date из str в datetime, для дальнейшей обработки
data['month'] = data.release_date.apply(lambda m: m.month) # вводим в таблтцу новый столбец с номером месяца
production_comp = data.production_companies.str.cat(sep='|').split('|') #список студий в таблице data
data['title_length'] = data.original_title.apply(lambda x: len(x)) # вводим в таблицу столбец с длинной названия
data['overview_length'] = data.overview.apply(lambda x: len(x.split()))# вводим в таблицу столбец с длинной описания
actors_list = [item.split('|') for item in data.cast.str.cat(sep='||').split('||')] # список актеров по фильмам

def set_of_val(data):
    """Функция для созния уникальных комбинаций из иписка входных значений, возвращает множество комбинаций"""
    pairs=set()
    for item in data:
        pairs.update(combinations(sorted(item),2))
    return pairs

In [202]:
data.tag_length.max()

AttributeError: 'DataFrame' object has no attribute 'tag_length'

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [203]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '...'
# если ответили верно, можете добавить комментарий со значком "+"

In [204]:
# тут пишем ваш код для решения данного вопроса:
answers['1'] = data[data.budget == data.budget.max()].iloc[0].original_title

ВАРИАНТ 2

In [205]:
# можно добавлять разные варианты решения
answers['1'] = data.sort_values('budget', ascending=False).iloc[0].original_title

# 2. Какой из фильмов самый длительный (в минутах)?

In [206]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = data[data.runtime == data.runtime.max()].iloc[0].original_title

# 3. Какой из фильмов самый короткий (в минутах)?

In [207]:
answers['3'] = data[data.runtime == data.runtime.min()].iloc[0].runtime

# 4. Какова средняя длительность фильмов?

In [246]:
answers['4'] = round(data.runtime.mean())

# 5. Каково медианное значение длительности фильмов?

In [209]:
answers['5'] = data.runtime.median()

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [210]:
answers['6'] = data[data.profit == data.profit.max()].iloc[0].original_title

# 7. Какой фильм самый убыточный?

In [211]:
answers['7'] = data[data.profit == data.profit.min()].iloc[0].original_title

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [212]:
answers['8'] = len(data[data.revenue>data.budget])

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [213]:
answers['9'] = data[(data.release_year == 2008)].sort_values(['revenue'], ascending=False).iloc[0].original_title

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [214]:
answers['10'] = data[(data.release_year>=2012)&(data.release_year<=2014)].sort_values(['profit']).iloc[0].original_title

# 11. Какого жанра фильмов больше всего?

In [215]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
answers['11'] = count_val(data.genres).most_common(1)[0][0]

ВАРИАНТ 2

In [216]:
answers['11'] = pd.Series(data['genres'].str.cat(sep='|').split('|')).value_counts().index[0]

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [217]:
answers['12'] = pd.Series(data[data.profit>0]['genres'].str.cat(sep='|').split('|')).value_counts().index[0]

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [218]:
answers['13'] = data[['director', 'revenue']].groupby(['director']).agg('sum').sort_values(['revenue'],
                                                                                           ascending=False).index[0]

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [219]:
# создаем DataFrame с двумя колонками: director - режисер, films - колличество фильмов, снятых режисером в жанре action
directors_df = pd.DataFrame([[director, len(data[(data.genres.str.contains('Action'))&(data.director.str.contains(director, regex=False))])]
              for director in directors], columns=['director', 'films'])

In [220]:
answers['14'] = directors_df.sort_values('films', ascending=False).iloc[0].director

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [221]:
# создаем DataFrame с двумя колонками: actor - актер, rev_sum - суммарные сборы фильмов в которых снялся актер
actors_df = pd.DataFrame([[actor, data[(data.cast.str.contains(actor))&(data.release_year==2012)].revenue.sum()] for actor in actors],
                         columns =['actor', 'rev_sum'])

In [222]:
answers['15'] = actors_df.sort_values('rev_sum',ascending=False).iloc[0].actor

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [223]:
# создаем DataFrame с двумя колонками: actor - актер, films - высокобюджетные фильмы, в которых снялся актер
actors_df2 = pd.DataFrame([[actor, len(data[(data.budget > data.budget.mean())&(data.cast.str.contains(actor))])] for actor in actors],
                          columns=['actor', 'films'])

In [224]:
answers['16'] = actors_df2.sort_values('films', ascending=False).iloc[0].actor

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [225]:
answers['17'] = pd.Series(data[data.cast.str.contains('Nicolas Cage')].genres.str.cat(sep='|').split('|')).value_counts().index[0]

# 18. Самый убыточный фильм от Paramount Pictures

In [226]:
answers['18'] = data[data.production_companies.str.contains('Paramount Pictures')].sort_values('profit').iloc[0].original_title

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [227]:
answers['19'] = data.groupby(['release_year']).agg('sum').sort_values(['revenue'], ascending=False).index[0]

# 20. Какой самый прибыльный год для студии Warner Bros?

In [228]:
answers['20'] = data[data.production_companies.str.match('Warner Bros')].groupby(['release_year']).agg('sum').sort_values('profit',
                                                                                                                          ascending=False).index[0]

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [229]:
answers['21'] = data.release_date.apply(lambda x:x.month).value_counts().sort_values(ascending=False).index[0]

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [230]:
answers['22'] = len(data[data.month.isin([6,7,8])])

# 23. Для какого режиссера зима – самое продуктивное время года?

In [231]:
answers['23'] = data[data.month.isin([1,11,12])].groupby(['director'])['month'].agg('count').sort_values(ascending=False).index[0]

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [232]:
# создаем DataFrame с двумя колонками: company - название студии, mean_film_len - средняя длинна названий фильмов
comp_film_len = pd.DataFrame([[comp, data[data.production_companies.str.contains(comp, regex=False)].title_length.mean()] for comp in production_comp],
                             columns=['company', 'mean_film_len'])

In [233]:
answers['24'] = comp_film_len.sort_values('mean_film_len', ascending=False).iloc[0].company

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [234]:
# создаем DataFrame с двумя колонками: company - название студии, mean_overview_len - средняя длинна описания фильмов
comp_overview_len = pd.DataFrame([[comp, data[(data.production_companies.str.contains(comp, regex=False))].overview_length.mean()] for comp in production_comp],
                            columns=['company', 'mean_overview_len'])

In [235]:
answers['25'] = comp_overview_len.sort_values('mean_overview_len', ascending=False).iloc[0].company

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [236]:
# определяем 1% с помощью describe
one_persent = data.vote_average.describe(percentiles=[0.99])['99%']

In [237]:
answers['26'] = data[data.vote_average > one_persent].original_title.str.cat(sep='; ')

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [239]:
# создаем множества комбинаций актеров
actors_pairs = set_of_val([item.split('|') for item in data.cast.str.cat(sep='||').split('||')])

In [240]:
# создаем DataFrame с двумя колонками: actors - пара актеров, times - сколько раз съиграми в одном фильме
actors_pairs_df = pd.DataFrame([[actors_pair, len(data[(data.cast.str.contains(actors_pair[0], regex=False))&(data.cast.str.contains(actors_pair[1]))])]
                                for actors_pair in actors_pairs], columns=['actors', 'times'])

In [241]:
answers['27'] = actors_pairs_df[actors_pairs_df.times == actors_pairs_df.times.max()].actors.apply(lambda x:str(x)).str.cat(sep='')

# Submission

In [247]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides',
 '2': 'Gods and Generals',
 '3': 63,
 '4': 110,
 '5': 107.0,
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': 1478,
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': 2015,
 '20': 2011,
 '21': 9,
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out; Room; Interstellar; Guardians of the Galaxy; The Imitation Game; Gone Girl; The Grand Budapest Hotel; Inception; The Dark Knight; The Pianist; The Lord of the Rings: The Return of the King; The Wolf of Wall Street; 12 Years a Slave; Memento',
 '27': "('Emma Watson', 'Rupert Grint')('Daniel Radcliffe', 'Rupert Grint')('Daniel Radcliffe', 'Emma Watson')"}

In [243]:
# и убедиться что ни чего не пропустил)
len(answers)

27