# Загрузка Pandas и очистка данных

In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('files')

Drive already mounted at files; to attempt to forcibly remount, call drive.mount("files", force_remount=True).

In [ ]:
df = pd.read_csv('/content/files/MyDrive/Colab Notebooks/data/Project3/main_task.csv')

In [ ]:
# Ваш код по очистке данных и генерации новых признаков
# При необходимости добавьте ячейки

# Разбиваем датафрейм на части, необходимые для обучения и тестирования модели

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40000 entries, 0 to 39999
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Restaurant_id      40000 non-null  object
 1   City               40000 non-null  object
 2   Cuisine Style      30717 non-null  object
 3   Ranking            40000 non-null  float64
 4   Rating             40000 non-null  float64
 5   Price Range        26114 non-null  object
 6   Number of Reviews  37457 non-null  float64
 7   Reviews            40000 non-null  object
 8   URL_TA             40000 non-null  object
 9   ID_TA              40000 non-null  object
dtypes: float64(3), object(7)
memory usage: 3.1+ MB

In [ ]:
new_data_city = pd.get_dummies(df['City'])

In [ ]:
new_data_city.columns

Index(['Amsterdam', 'Athens', 'Barcelona', 'Berlin', 'Bratislava', 'Brussels',
       'Budapest', 'Copenhagen', 'Dublin', 'Edinburgh', 'Geneva', 'Hamburg',
       'Helsinki', 'Krakow', 'Lisbon', 'Ljubljana', 'London', 'Luxembourg',
       'Lyon', 'Madrid', 'Milan', 'Munich', 'Oporto', 'Oslo', 'Paris',
       'Prague', 'Rome', 'Stockholm', 'Vienna', 'Warsaw', 'Zurich'],
      dtype='object')

In [ ]:
new_data_price = pd.get_dummies(df['Price Range'])
new_data_price.columns = ['Low', 'Middle', 'High']

In [ ]:
df = pd.concat([df, new_data_city, new_data_price], axis=1)

In [ ]:
def take_a_last_date(data):
  date = data.split('], [')[1].split(',')[0].strip("'")
  return date if len(date)==10 else None

def take_a_first_date(data):
  date = data.split('], [')[1].split(',')[-1].strip(" ']")
  return date if len(date)==10 else None

df['Last time comment'] = df['Reviews'].apply(take_a_last_date)
df['First time comment'] = df['Reviews'].apply(take_a_first_date)
df['Last time comment'] = pd.to_datetime(df['Last time comment'])
df['First time comment'] = pd.to_datetime(df['First time comment'])

df['Days betwin comments'] = df['Last time comment'] - df['First time comment']
df['Days betwin comments'].fillna(pd.Timedelta(0), inplace=True)
df['Days betwin comments'] = df['Days betwin comments'].dt.days.astype('int16')

In [ ]:
cuisine = set(df['Cuisine Style'].str.cat(sep=',').replace("'", '').replace('[', '').replace(']', '').replace(', ', ',').split(','))

for item in cuisine:
  df[item] = df[df['Cuisine Style'].notna()]['Cuisine Style'].apply(lambda x: 1 if item in x else 0)

def cuisine_count(x):
  return len(x.split(','))

df['Cuisine Style'] = df[df['Cuisine Style'].notna()]['Cuisine Style'].apply(cuisine_count) 
df['Cuisine Style'].fillna(1, inplace=True)
for item in cuisine:
  df[item].fillna(0, inplace=True)

In [ ]:
df['Number of Reviews'].fillna(df['Number of Reviews'].mean(), inplace=True)

In [ ]:
df.info(verbose=True, null_counts=True)

In [ ]:
# Х - данные с информацией о ресторанах, у - целевая переменная (рейтинги ресторанов)
X = df.drop(['Restaurant_id', 'City', 'Price Range', 'Reviews', 'URL_TA', 'ID_TA','Rating', 'Last time comment', 'First time comment'], axis = 1)
y = df['Rating']

In [ ]:
X.info(verbose=True, null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40000 entries, 0 to 39999
Data columns (total 163 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Cuisine Style         40000 non-null  float64
 1   Ranking               40000 non-null  float64
 2   Number of Reviews     40000 non-null  float64
 3   Amsterdam             40000 non-null  uint8
 4   Athens                40000 non-null  uint8
 5   Barcelona             40000 non-null  uint8
 6   Berlin                40000 non-null  uint8
 7   Bratislava            40000 non-null  uint8
 8   Brussels              40000 non-null  uint8
 9   Budapest              40000 non-null  uint8
 10  Copenhagen            40000 non-null  uint8
 11  Dublin                40000 non-null  uint8
 12  Edinburgh             40000 non-null  uint8
 13  Geneva                40000 non-null  uint8
 14  Hamburg               40000 non-null  uint8
 15  Helsinki              40000 non-null  uint8
 16  Krakow                40000 non-null  uint8
 17  Lisbon                40000 non-null  uint8
 18  Ljubljana             40000 non-null  uint8
 19  London                40000 non-null  uint8
 20  Luxembourg            40000 non-null  uint8
 21  Lyon                  40000 non-null  uint8
 22  Madrid                40000 non-null  uint8
 23  Milan                 40000 non-null  uint8
 24  Munich                40000 non-null  uint8
 25  Oporto                40000 non-null  uint8
 26  Oslo                  40000 non-null  uint8
 27  Paris                 40000 non-null  uint8
 28  Prague                40000 non-null  uint8
 29  Rome                  40000 non-null  uint8
 30  Stockholm             40000 non-null  uint8
 31  Vienna                40000 non-null  uint8
 32  Warsaw                40000 non-null  uint8
 33  Zurich                40000 non-null  uint8
 34  Low                   40000 non-null  uint8
 35  Middle                40000 non-null  uint8
 36  High                  40000 non-null  uint8
 37  Days betwin comments  40000 non-null  int16
 38  Pizza                 40000 non-null  float64
 39  Diner                 40000 non-null  float64
 40  Vegan Options         40000 non-null  float64
 41  Mediterranean         40000 non-null  float64
 42  American              40000 non-null  float64
 43  Colombian             40000 non-null  float64
 44  Persian               40000 non-null  float64
 45  Armenian              40000 non-null  float64
 46  Chilean               40000 non-null  float64
 47  Greek                 40000 non-null  float64
 48  Peruvian              40000 non-null  float64
 49  Sushi                 40000 non-null  float64
 50  Street Food           40000 non-null  float64
 51  Indonesian            40000 non-null  float64
 52  Hawaiian              40000 non-null  float64
 53  Brew Pub              40000 non-null  float64
 54  International         40000 non-null  float64
 55  Welsh                 40000 non-null  float64
 56  Tibetan               40000 non-null  float64
 57  Balti                 40000 non-null  float64
 58  Venezuelan            40000 non-null  float64
 59  Uzbek                 40000 non-null  float64
 60  Polynesian            40000 non-null  float64
 61  Grill                 40000 non-null  float64
 62  Seafood               40000 non-null  float64
 63  Jamaican              40000 non-null  float64
 64  Fast Food             40000 non-null  float64
 65  Vietnamese            40000 non-null  float64
 66  Australian            40000 non-null  float64
 67  Croatian              40000 non-null  float64
 68  Irish                 40000 non-null  float64
 69  Fusion                40000 non-null  float64
 70  Austrian              40000 non-null  float64
 71  Korean                40000 non-null  float64
 72  Central American      40000 non-null  float64
 73  Dutch                 40000 non-null  float64
 74  Pub                   40000 non-null  float64
 75  Slovenian             40000 non-null  float64
 76  Norwegian             40000 non-null  float64
 77  Salvadoran            40000 non-null  float64
 78  French                40000 non-null  float64
 79  African               40000 non-null  float64
 80  Soups                 40000 non-null  float64
 81  Canadian              40000 non-null  float64
 82  Scottish              40000 non-null  float64
 83  Fujian                40000 non-null  float64
 84  Tunisian              40000 non-null  float64
 85  Cambodian             40000 non-null  float64
 86  Bangladeshi           40000 non-null  float64
 87  Contemporary          40000 non-null  float64
 88  Central Asian         40000 non-null  float64
 89  British               40000 non-null  float64
 90  Swiss                 40000 non-null  float64
 91  Swedish               40000 non-null  float64
 92  Brazilian             40000 non-null  float64
 93  Caucasian             40000 non-null  float64
 94  Southwestern          40000 non-null  float64
 95  Xinjiang              40000 non-null  float64
 96  Pakistani             40000 non-null  float64
 97  Filipino              40000 non-null  float64
 98  Chinese               40000 non-null  float64
 99  Central European      40000 non-null  float64
 100 Belgian               40000 non-null  float64
 101 Wine Bar              40000 non-null  float64
 102 Minority Chinese      40000 non-null  float64
 103 Polish                40000 non-null  float64
 104 Scandinavian          40000 non-null  float64
 105 Kosher                40000 non-null  float64
 106 Barbecue              40000 non-null  float64
 107 Mexican               40000 non-null  float64
 108 Portuguese            40000 non-null  float64
 109 Latvian               40000 non-null  float64
 110 Cafe                  40000 non-null  float64
 111 New Zealand           40000 non-null  float64
 112 Burmese               40000 non-null  float64
 113 Taiwanese             40000 non-null  float64
 114 South American        40000 non-null  float64
 115 Gastropub             40000 non-null  float64
 116 German                40000 non-null  float64
 117 Arabic                40000 non-null  float64
 118 Sri Lankan            40000 non-null  float64
 119 Romanian              40000 non-null  float64
 120 Asian                 40000 non-null  float64
 121 Czech                 40000 non-null  float64
 122 Malaysian             40000 non-null  float64
 123 Yunnan                40000 non-null  float64
 124 Egyptian              40000 non-null  float64
 125 Argentinean           40000 non-null  float64
 126 Vegetarian Friendly   40000 non-null  float64
 127 Middle Eastern        40000 non-null  float64
 128 Israeli               40000 non-null  float64
 129 Italian               40000 non-null  float64
 130 Hungarian             40000 non-null  float64
 131 Thai                  40000 non-null  float64
 132 Latin                 40000 non-null  float64
 133 Albanian              40000 non-null  float64
 134 Afghani               40000 non-null  float64
 135 Healthy               40000 non-null  float64
 136 Indian                40000 non-null  float64
 137 European              40000 non-null  float64
 138 Mongolian             40000 non-null  float64
 139 Native American       40000 non-null  float64
 140 Turkish               40000 non-null  float64
 141 Georgian              40000 non-null  float64
 142 Steakhouse            40000 non-null  float64
 143 Azerbaijani           40000 non-null  float64
 144 Delicatessen          40000 non-null  float64
 145 Halal                 40000 non-null  float64
 146 Ukrainian             40000 non-null  float64
 147 Japanese              40000 non-null  float64
 148 Singaporean           40000 non-null  float64
 149 Lebanese              40000 non-null  float64
 150 Danish                40000 non-null  float64
 151 Ethiopian             40000 non-null  float64
 152 Gluten Free Options   40000 non-null  float64
 153 Russian               40000 non-null  float64
 154 Ecuadorean            40000 non-null  float64
 155 Bar                   40000 non-null  float64
 156 Moroccan              40000 non-null  float64
 157 Nepali                40000 non-null  float64
 158 Cajun & Creole        40000 non-null  float64
 159 Eastern European      40000 non-null  float64
 160 Cuban                 40000 non-null  float64
 161 Spanish               40000 non-null  float64
 162 Caribbean             40000 non-null  float64
dtypes: float64(128), int16(1), uint8(34)
memory usage: 40.4 MB

In [ ]:
# Загружаем специальный инструмент для разбивки:
from sklearn.model_selection import train_test_split

In [ ]:
# Наборы данных с меткой "train" будут использоваться для обучения модели, "test" - для тестирования.
# Для тестирования мы будем использовать 25% от исходного датасета.
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25)

# Создаём, обучаем и тестируем модель

In [ ]:
# Импортируем необходимые библиотеки:
from sklearn.ensemble import RandomForestRegressor # инструмент для создания и обучения модели
from sklearn import metrics # инструменты для оценки точности модели

In [ ]:
# Создаём модель
regr = RandomForestRegressor(n_estimators=100)

# Обучаем модель на тестовом наборе данных
regr.fit(X_train, y_train)

# Используем обученную модель для предсказания рейтинга ресторанов в тестовой выборке.
# Предсказанные значения записываем в переменную y_pred
y_pred = regr.predict(X_test)

In [ ]:
# Сравниваем предсказанные значения (y_pred) с реальными (y_test), и смотрим насколько они в среднем отличаются
# Метрика называется Mean Absolute Error (MAE) и показывает среднее отклонение предсказанных значений от фактических.
print('MAE:', metrics.mean_absolute_error(y_test, y_pred))

MAE: 0.21455349999999998