In [151]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from itertools import combinations

In [152]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
202,tt2106361,50000000,160602194,Into the Storm,Richard Armitage|Sarah Wayne Callies|Matt Wals...,Steven Quale,Prepare to go,The town of Silverton is in one day destroyed ...,89,Action|Thriller,New Line Cinema|Village Roadshow Pictures|Brok...,8/6/2014,5.7,2014
1549,tt0454082,9000000,21510851,Black Christmas,Katie Cassidy|Michelle Trachtenberg|Kristen Cl...,Glen Morgan,"This holiday season, the slay ride begins.",An escaped maniac returns to his childhood hom...,84,Horror|Thriller,Dimension Films,12/25/2006,5.3,2006
1803,tt0208092,10000000,83557872,Snatch,Jason Statham|Brad Pitt|Vinnie Jones|Dennis Fa...,Guy Ritchie,Stealin' Stones and Breakin' Bones.,The second film from British director Guy Ritc...,103,Thriller|Crime,Columbia Pictures Corporation|SKA Films,9/1/2000,7.5,2000
737,tt0433035,110000000,299268508,Real Steel,Hugh Jackman|Dakota Goyo|Evangeline Lilly|Anth...,Shawn Levy,"If you get one shot, make it real.","In the near-future, Charlie Kenton is a washed...",127,Action|Science Fiction|Drama,DreamWorks SKG|21 Laps Entertainment|Reliance ...,9/28/2011,6.5,2011
1035,tt1560747,32000000,28258060,The Master,Joaquin Phoenix|Philip Seymour Hoffman|Amy Ada...,Paul Thomas Anderson,Every Man Needs a Sub Dig Guide,"Freddie, a volatile, heavy-drinking veteran wh...",137,Drama,Ghoulardi Film Company|The Weinstein Company|A...,9/7/2012,6.8,2012

In [153]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [154]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...
data['profit'] = data.revenue - data.budget # ввод нового столбца profit

def count_val(data):
    """Функция подсчета строковых значение разделенных знаком '|',
    подсчитывает и возвращает в виде экземпляра Counter()"""
    counter = Counter()
    for data_str in data:
        for item in data_str.split('|'):
            counter[item] += 1        
    return counter

actors = set(data.cast.str.cat(sep='|').split('|')) # список актеров в таблице data
data.release_date = pd.to_datetime(data.release_date) # преобразуем значения в столбце release_date из str в datetime, для дальнейшей обработки
data['month'] = data.release_date.apply(lambda m: m.month) # вводим в таблтцу новый столбец с номером месяца
production_comp = data.production_companies.str.cat(sep='|').split('|') #список студий в таблице data
data['title_length'] = data.original_title.apply(lambda x: len(x)) # вводим в таблицу столбец с длинной названия
data['tag_length'] = data.tagline.apply(lambda x: len(x))# вводим в таблицу столбец с длинной описания
actors_list = [item.split('|') for item in data.cast.str.cat(sep='||').split('||')] # список актеров по фильмам

def set_of_val(data):
    """Функция для созния уникальных комбинаций из иписка входных значений, возвращает множество комбинаций"""
    pairs=set()
    for item in data:
        pairs.update(list(combinations(item,2)))
    return pairs

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [155]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '...'
# если ответили верно, можете добавить комментарий со значком "+"

In [156]:
# тут пишем ваш код для решения данного вопроса:
answers['1'] = data[data.budget == data.budget.max()].iloc[0].original_title

ВАРИАНТ 2

In [157]:
# можно добавлять разные варианты решения
answers['1'] = data.sort_values('budget', ascending=False).iloc[0].original_title

# 2. Какой из фильмов самый длительный (в минутах)?

In [158]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = data[data.runtime == data.runtime.max()].iloc[0].original_title

# 3. Какой из фильмов самый короткий (в минутах)?

In [159]:
answers['3'] = data[data.runtime == data.runtime.min()].iloc[0].runtime

# 4. Какова средняя длительность фильмов?

In [160]:
answers['4'] = data.runtime.mean()

# 5. Каково медианное значение длительности фильмов?

In [161]:
answers['5'] = data.runtime.median()

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [162]:
answers['6'] = data[data.profit == data.profit.max()].iloc[0].original_title

# 7. Какой фильм самый убыточный?

In [163]:
answers['7'] = data[data.profit == data.profit.min()].iloc[0].original_title

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [164]:
answers['8'] = len(data[data.revenue>data.budget])

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [165]:
answers['9'] = data[(data.release_year == 2008)].sort_values(['revenue'], ascending=False).iloc[0].original_title

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [166]:
answers['10'] = data[(data.release_year>=2012)&(data.release_year<=2014)].sort_values(['profit']).iloc[0].original_title

# 11. Какого жанра фильмов больше всего?

In [167]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
answers['11'] = count_val(data.genres).most_common(1)[0][0]

ВАРИАНТ 2

In [168]:
answers['11'] = pd.Series(data['genres'].str.cat(sep='|').split('|')).value_counts().index[0]

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [169]:
answers['12'] = pd.Series(data[data.profit>0]['genres'].str.cat(sep='|').split('|')).value_counts().index[0]

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [170]:
answers['13'] = data[['director', 'revenue']].groupby(['director']).agg('sum').sort_values(['revenue'],
                                                                                           ascending=False).index[0]

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [171]:
answers['14'] = data[data.genres.str.contains('Action')].director.value_counts().index[0:2]

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [172]:
# создаем DataFrame с двумя колонками: actor - актер, rev_sum - суммарные сборы фильмов в которых снялся актер
actors_df = pd.DataFrame([[actor, data[data.cast.str.contains(actor)].revenue.sum()] for actor in actors],
                         columns =['actor', 'rev_sum'])

In [173]:
answers['15'] = actors_df.sort_values('rev_sum',ascending=False).iloc[0].actor

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [174]:
# создаем DataFrame с двумя колонками: actor - актер, films - высокобюджетные фильмы, в которых снялся актер
actors_df2 = pd.DataFrame([[actor, len(data[(data.budget > data.budget.mean())&(data.cast.str.contains(actor))])] for actor in actors],
                          columns=['actor', 'films'])

In [175]:
answers['16'] = actors_df2.sort_values('films', ascending=False).iloc[0].actor

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [176]:
answers['17'] = pd.Series(data[data.cast.str.contains('Nicolas Cage')].genres.str.cat(sep='|').split('|')).value_counts().index[0]

# 18. Самый убыточный фильм от Paramount Pictures

In [177]:
answers['18'] = data[data.production_companies.str.contains('Paramount Pictures')].sort_values('profit').iloc[0].original_title

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [178]:
answers['19'] = data.groupby(['release_year']).agg('sum').sort_values(['revenue'], ascending=False).index[0]

# 20. Какой самый прибыльный год для студии Warner Bros?

In [179]:
answers['20'] = data[data.production_companies.str.match('Warner Bros')].groupby(['release_year']).agg('sum').sort_values('profit',
                                                                                                                          ascending=False).index[0]

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [180]:
answers['21'] = data.release_date.apply(lambda x:x.month).value_counts().sort_values(ascending=False).index[0]

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [181]:
answers['22'] = len(data[data.month.isin([6,7,8])])

# 23. Для какого режиссера зима – самое продуктивное время года?

In [182]:
answers['23'] = data[data.month.isin([1,11,12])].groupby(['director'])['month'].agg('count').sort_values(ascending=False).index[0]

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [183]:
# создаем DataFrame с двумя колонками: company - название студии, mean_film_len - средняя длинна названий фильмов
comp_film_len = pd.DataFrame([[comp, data[data.production_companies.str.contains(comp, regex=False)].title_length.mean()] for comp in production_comp],
                             columns=['company', 'mean_film_len'])

In [184]:
answers['24'] = comp_film_len.sort_values('mean_film_len', ascending=False).iloc[0].company

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [185]:
# создаем DataFrame с двумя колонками: company - название студии, mean_tag_len - средняя длинна описания фильмов
comp_tag_len = pd.DataFrame([[comp, data[data.production_companies.str.contains(comp, regex=False)].tag_length.mean()] for comp in production_comp],
                            columns=['company', 'mean_tag_len'])

In [186]:
answers['25'] = comp_tag_len.sort_values('mean_tag_len', ascending=False).iloc[0].company

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [187]:
answers['26'] = data[data.vote_average > data.vote_average.describe(percentiles=[0.99])['99%']].original_title.str.cat(sep='|')

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [188]:
# создаем множества комбинаций актеров
actors_pairs = set_of_val([item.split('|') for item in data.cast.str.cat(sep='||').split('||')])

In [189]:
# создаем DataFrame с двумя колонками: actors - пара актеров, times - сколько раз съиграми в одном фильме
actors_pairs_df = pd.DataFrame([[actors_pair, len(data[(data.cast.str.contains(actors_pair[0], regex=False))&(data.cast.str.contains(actors_pair[1]))])]
                                for actors_pair in actors_pairs], columns=['actors', 'times'])

In [190]:
answers['27'] = actors_pairs_df[actors_pairs_df.times == actors_pairs_df.times.max()]

# Submission

In [191]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides',
 '2': 'Gods and Generals',
 '3': 63,
 '4': 109.6585494970884,
 '5': 107.0,
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': 1478,
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': Index(['Michael Bay', 'Paul W.S. Anderson'], dtype='object'),
 '15': 'Emma Watson',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': 2015,
 '20': 2011,
 '21': 9,
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Beverly Detroit',
 '26': 'Inside Out|Room|Interstellar|Guardians of the Galaxy|The Imitation Game|Gone Girl|The Grand Budapest Hotel|Inception|The Dark Knight|The Pianist|The Lord of the Rings: The Return of the King|The Wolf of Wall Street|12 Years a Slave|Memento',
 '27':                                  actors  times
 8017        (Rupert Grint, Emma Watson)      8
 9348        (Emma Watson, Rupert Grint)      8
 9384   (Daniel Radcliffe, Rupert Grint)      8
 13087   (Daniel Radcliffe, Emma Watson)      8}

In [192]:
# и убедиться что ни чего не пропустил)
len(answers)

27