In [20]:
import pandas as pd
import matplotlib.pyplot as plt

In [21]:
df = pd.read_csv("stud_math.csv")

In [23]:
columns04 = ['Medu', 'Fedu']
columns14 = ['traveltime', 'studytime']
columns15 = ['famrel', 'freetime', 'goout', 'health']

def view_string_column(df, column):
  if df[column].dtype == 'object':
    display(df[column].value_counts())
    print('{} - NaN\n'.format(len(df[column][df[column].isna()])))
  return None

def view_numeric_column(df, column):
  if df[column].dtype == 'float64':
    display(df[column].value_counts())
    print('{} - NaN\n'.format(len(df[column][df[column].isna()])))
  return None

def draw_hist(df, column):
  fig = plt.figure()
  axes = fig.add_axes([0, 0, 1, 1])
  axes.hist(df[column])
  axes.set_title(column)
  return None

def draw_numeric_column(df, column):
  if df[column].dtype == 'float64':
    draw_hist(df, column)
  return None

def string_to_bool(df, column):
  if df[column].dtype == 'object':
    if {'yes', 'no'} == set(df[column].str.cat(sep=',').split(',')):
      return df[column].astype(str).apply(lambda x: True if x == 'yes' else False if x == 'no' else None)
  return df[column]  

def out_values(df, column, inter='linear'):
  iqr = df[column].quantile(0.75) - df[column].quantile(0.25)
  perc25 = df[column].quantile(q=0.25, interpolation=inter)
  perc75 = df[column].quantile(0.75, interpolation=inter)
  return df[column].apply(lambda x: None if x<(perc25 - 1.5*iqr) or x>(perc75 + 1.5*iqr) else x)

def out_values_range(df, column, val_range):
  x,y = val_range
  return df[column].apply(lambda c: c if ((c%1)==0) and (c in range(x, y)) else None)

'''def out_values14(df, column):
  return df[column].apply(lambda x: x if x in range(1,5) else None)

def out_values15(df, column):
  return df[column].apply(lambda x: x if x in range(1,6) else None)'''

def fillna_median(df, column):
  return df[column].fillna(df[column].median())

In [24]:
for column in df.columns:
  df[column] = string_to_bool(df, column)

In [29]:
for column in columns04:
  df[column] = out_values_range(df, column, (0,5))
for column in columns14:
  df[column] = out_values_range(df, column, (1,5))
for column in columns15:
  df[column] = out_values_range(df, column, (1,6))
df['failures'] = out_values_range(df, 'failures', (0,4))

In [30]:
df['score'] = out_values(df, 'score')

In [31]:
 df['absences'] = out_values(df, 'absences', inter='midpoint')

In [32]:
for item in df.columns:
  view_numeric_column(df, item)

4.0    131
2.0    102
3.0     97
1.0     59
0.0      3
Name: Medu, dtype: int64

3 - NaN

2.0    106
3.0     96
4.0     88
1.0     78
0.0      2
Name: Fedu, dtype: int64

25 - NaN

1.0    242
2.0     96
3.0     22
4.0      7
Name: traveltime, dtype: int64

28 - NaN

2.0    194
1.0    103
3.0     64
4.0     27
Name: studytime, dtype: int64

7 - NaN

0.0    293
1.0     49
2.0     16
3.0     15
Name: failures, dtype: int64

22 - NaN

-6.0     194
-3.0     103
-9.0      64
-12.0     27
Name: studytime, granular, dtype: int64

7 - NaN

4.0    182
5.0     99
3.0     62
2.0     17
1.0      7
Name: famrel, dtype: int64

28 - NaN

3.0    153
4.0    112
2.0     63
5.0     38
1.0     18
Name: freetime, dtype: int64

11 - NaN

3.0    127
2.0    101
4.0     84
5.0     52
1.0     23
Name: goout, dtype: int64

8 - NaN

5.0    138
3.0     89
4.0     63
1.0     47
2.0     43
Name: health, dtype: int64

15 - NaN

0.0     111
2.0      60
4.0      53
6.0      31
8.0      21
10.0     17
12.0     12
14.0     12
3.0       8
16.0      7
7.0       6
5.0       5
1.0       3
9.0       3
15.0      2
13.0      2
11.0      2
17.0      1
Name: absences, dtype: int64

39 - NaN

50.0     54
55.0     46
0.0      37
75.0     33
65.0     31
40.0     31
60.0     31
70.0     27
45.0     27
80.0     16
30.0     15
90.0     12
35.0      9
25.0      7
85.0      6
95.0      5
100.0     1
20.0      1
Name: score, dtype: int64

6 - NaN

In [33]:
df = df.loc[df.score.dropna()]

In [34]:
for column in columns04:
  df[column] = fillna_median(df, column)
for column in columns14:
  df[column] = fillna_median(df, column)
for column in columns15:
  df[column] = fillna_median(df, column)

In [38]:
df['absences'] = df['absences'].fillna(round(df['absences'].mean()))

In [41]:
df

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,"studytime, granular",higher,internet,romantic,famrel,freetime,goout,health,absences,score
30.0,GP,M,15,U,GT3,T,4.0,4.0,health,services,...,-6.0,True,True,False,5.0,4.0,2.0,4.0,0.0,60.0
30.0,GP,M,15,U,GT3,T,4.0,4.0,health,services,...,-6.0,True,True,False,5.0,4.0,2.0,4.0,0.0,60.0
50.0,GP,F,16,U,LE3,T,2.0,2.0,services,services,...,-6.0,True,True,False,4.0,3.0,3.0,4.0,2.0,65.0
75.0,GP,M,15,NaN,GT3,T,4.0,3.0,teacher,other,...,-6.0,True,True,None,4.0,3.0,3.0,5.0,6.0,50.0
50.0,GP,F,16,U,LE3,T,2.0,2.0,services,services,...,-6.0,True,True,False,4.0,3.0,3.0,4.0,2.0,65.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45.0,GP,F,15,U,LE3,A,4.0,3.0,other,other,...,-6.0,True,True,True,5.0,2.0,2.0,5.0,8.0,30.0
80.0,GP,M,15,U,GT3,T,2.0,3.0,other,services,...,-3.0,True,None,True,3.0,2.0,2.0,3.0,2.0,60.0
35.0,GP,F,15,U,GT3,T,2.0,3.0,other,other,...,-3.0,True,False,False,3.0,5.0,1.0,5.0,0.0,30.0
50.0,GP,F,16,U,LE3,T,2.0,2.0,services,services,...,-6.0,True,True,False,4.0,3.0,3.0,4.0,2.0,65.0
45.0,GP,F,15,U,LE3,A,4.0,3.0,other,other,...,-6.0,True,True,True,5.0,2.0,2.0,5.0,8.0,30.0